<div class="w-100 d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
	<form action="" method="POST" class="sign-up d-flex flex-column border-0 rounded-4 gap-2 py-3 px-3">
		<h2>Sign Up</h2>
		<div>
			<label class="h6 bi bi-person-fill"> ID Card</label>
			<input type="text" class="form-control" name="account" placeholder="ID Card" required>
		</div>
		<div>
			<label class="h6 bi bi-lock-fill"> Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
		</div>
		<div>
			<label class="h6 bi bi-eye-fill"> Confirm Password</label>
			<input type="password" class="form-control" name="password" placeholder="Confirm Password" required>
		</div>
		<button class="btn btn-primary w-100" type="submit">Sign Up</button>
		<a href="#" class="btn btn-success w-100">Already have a account? Sign In!</a>
	</form>
	<img class="sign-up-img d-none d-md-block rounded-5 me-3" src="assets/img/sign-up.png">
</div>